/*pagina de nosotros*/
.nosotros{
    display: $flexible;
    @include d-flex(center,center);
    margin-top: 1rem;
    margin-bottom: 10%;
}

.imagen{
    width: 30vw;
    height: 70vh;
    border-radius: 1rem;
    object-fit: cover;
    transition: all .5s;
}

.imagen{
    &:hover{
        transform: scale(1.03,1.03);
        cursor: pointer;
    }
}

.texto-nosotros{
    width: 25vw;
    height: $auto;
    margin-left: 5rem;
    font-size: map-get($map:$text,$key:'tamanioMediano');
}

.texto-nosotros {
    h6{
        font-size: map-get($map:$text,$key:'tamanioMediano');
    }
}

.bg-propio{
    background-color: map-get($map:$paleta,$key:'colorPrimario');
}

.progress {
    .porc{
        display: $flexible;
        @include d-flex(center,center);
        font-size: 1.5rem;
        margin-bottom: 0;
    }
}