/*pagina de ubicacion*/
.ubicacion {
    display: $flexible;
    @include d-flex(center,center);
    margin-bottom: 10rem;
}

.cards-size{
    width: $ancho_MediaPantalla;
    height: $alto_MediaPantalla;
}

.cards-size {
    iframe{
        width: $ancho_MediaPantalla;
        height: $alto_MediaPantalla;
    }
}

.info-ubi{
    font-size: map-get($map:$text,$key:'tamanioMediano');
}