//variables globales
$primaryColor: #735751;
$secondaryColor: #A78A7F;
$terciaryColor: #c1a59f;
$navColor: #ffffff4b;
$blanco: #fff;
$oculto: none;
$flexible: flex;
$grilla: grid;
$titleSize: 6rem;
$littleSize: 1.6rem;
$mediumSize: 1.8rem;
$boldColor: #421222;
$w-100: 100%;
$h-100: 100%;
$auto: auto;
$centrado: center;
$alto_MediaPantalla: 50vh;
$ancho_MediaPantalla: 50vw;
$negrita: bold;
$colorInstagram:#de4c52;
$colorFacebook:#13a0f9;
$colorWhatsapp:#008502;